@font-face {
    font-family: 'LillyBelle';
    src: url("../fonts/LillyBelle.ttf");
}



.label {
    -fx-font-family: 'LillyBelle';
    -fx-text-fill: white;
}


.rootPane {
    -fx-font-family: 'LillyBelle';
    -fx-background-image: url("../Publisher_material/Display_5.jpg");
    -fx-background-size: stretch;
    -fx-text-fill: white;
}


.playBtn {
    -fx-background-image: url("../misc/base_pagina2.jpg");
    -fx-font-size: 40;
    -fx-font-family: 'LillyBelle';
    -fx-text-fill: linear-gradient(to bottom, #FFFFFF, #FFC0CB);
    -fx-effect: dropshadow(gaussian, #FFB6C1, 2, 0, 0, 0);
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 15px;
    -fx-background-color: transparent;
}

.playBtn:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;


}

.quitBtn {
    -fx-background-image: url("../misc/base_pagina2.jpg");
    -fx-font-family: 'LillyBelle';
    -fx-text-fill: linear-gradient(to bottom, #FFFFFF, #FFC0CB);
    -fx-effect: dropshadow(gaussian, #FFB6C1, 2, 0, 0, 0);
    -fx-font-size: 40;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 15px;
    -fx-background-color: transparent;

}

.quitBtn:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
    -fx-font-family: 'LillyBelle';

}

.joinBtn {

    fx-background-image: url("../misc/base_pagina2.jpg");
    -fx-font-family: 'LillyBelle';
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 15px;
    -fx-background-color: transparent;
}


.joinBtn:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
    -fx-font-family: 'LillyBelle';
}