


.label {
}


.rootPane {
    -fx-background-image: url("../Publisher_material/Display_5.jpg");
    -fx-background-size: stretch;
}


.playBtn {
    -fx-background-image: url("../misc/base_pagina2.jpg");

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 15px;
    -fx-background-color: transparent;
}

.playBtn:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;


}

.quitBtn {
    -fx-background-image: url("../misc/base_pagina2.jpg");

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 15px;
    -fx-background-color: transparent;

}

.quitBtn:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.joinBtn {

    fx-background-image: url("../misc/base_pagina2.jpg");

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 15px;
    -fx-background-color: transparent;
}


.joinBtn:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;

}